@import '../../../style/shared.scss';

.login{
    padding: 15px 35px 15px 35px;
    width: 40%; max-width: 500px;
    background-color: #ffffff; color: $main-text-color;
    border-radius: 7px;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 10%);

    @media(max-width: 900px){ width: 100%; max-width: 100%; padding: 20px;}
    
    h1{
        margin: 25px 0 25px 0;
        text-align: center; font-weight: 300; font-size: 1.6rem;
    }

    form{
        display: flex; flex-flow: column; align-items: center;

        label{
            margin: 0 0 5px auto;
            @media(max-width: 900px) {margin: 0 0 5px auto;}
        }

        div{ 
            position: relative;
            width: 100%;

            @media(max-width: 900px) { display: flex; justify-content: center; }

            input{
                width: 90%; padding: 15px 15px 15px 35px; margin-bottom: 30px;
                border: 1px solid #36363643; border-radius: 3px;
                line-height: 1.15; font-size: 100%; font: inherit;

                &:hover,&:focus { border: 1px solid black; outline: none;}
                &::placeholder{ color: #36363672;}

                @media(max-width: 900px){ width: 100%; }
            }

            .input-icon{
                position: absolute; left: 12px; top: 12px;
                font-size: 1.6rem;
                color: #36363661;
                &:hover{ cursor: pointer; color: $main-text-color;}
            }
        }

        .password-eye-icon{
            position: absolute; left: 11%; top: 50%;
            .eye-icon{
                font-size: 1.25rem;
                color: #36363672;
                &:hover{cursor: pointer; color: $main-text-color;}
            }
        }

        span{
            margin: 0 auto 25px 0;
            font-weight: bold; color:$main-orange;
            &:hover{ cursor: pointer;}
        }

        button{
            width: 100%; max-width: 450px; padding: 0 20px 0 20px; margin: 5px 0 30px 0;
            background-color: $main-orange; color: #fff;
            border: none; border-radius: 30px; line-height: 3;
            font-weight: bold; font-size: 1.05rem;

            &:hover{ cursor: pointer; background-color: #e46700;}
            &:focus{ outline: 1px solid rgba(0, 0, 0, 0.75); }
        }

        .error-password{
            margin: -12px 0 0 auto;
            font-size: 1rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: red;
        }
        .error-email{
            margin: -25px 0 8px auto;
            font-size: 1rem; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: red;
        }
    }

    .sign-up-link{
        margin-bottom: 20px;
        text-align: center;

        span{
            margin-right: 5px;
            color: $main-orange; font-weight: bold;
            &:hover{ cursor: pointer; }
        }
    }
}