@import '../../style/shared.scss';

footer{
    margin-top: 75px;
    background-color: #363636; color: #FFF;

    .rights-reserved{
        margin: 0 auto; padding-bottom: 15px;
        width: 50%;
        color: #999999;
        text-align: center; font-size: .8rem;

        @media(max-width: 600px) {width: 90%;}
    }

    hr{
        margin: 0 auto;  margin-bottom: 15px;
        width: 40%;

        @media(max-width: 600px) {width: 70%;}
    }
}